apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-zcxu
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/stonesoup_perfscale/ci1t-43256-0043-tenant/ci1t-43256-0043-app/devfile-sample-zcxu@sha256:b4909c8b13e20f500c61dcb5416b99b00a01ba3eadb32381ced25126dbe09a7a
        name: my-nodejs
        resources: {}
status: {}
